.chat {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat-wrapper {
  display: flex;
  justify-content: space-around;
}

.chat-component {
  flex-basis: 33%;
  border: 2px solid black;
  margin: 5px;
  padding-bottom: 5px;
}

button {
  margin-bottom: 15px;
}

